
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}


/*  */
.main {
    width: 100%;

}

.second-nav {
    display: flex;
    justify-content: space-between;
}

.second-nav .left a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    cursor: pointer;

}

.second-nav .left img {
    height: 70px;
    display: none;
}

.main .header .second-nav .right #menue {
    display: none;
}

.main .right i {
    cursor: pointer;
}

.second-nav .left {
    display: flex;
    gap: 3vw;
    font-size: 17px;
    font-weight: 550;
    align-items: center;
}

.second-nav .right {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 550;
    align-items: center;
}

.header {
    padding: 0 18vw;
    margin-top: 40px;
    /* position: fixed; */
    /* background-color: white; */
    /* top: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    z-index: 1000;
    margin-bottom: 1em; */
}

@media screen and (max-width: 1400px) {
    .header {
        padding: 0 5vw;
        margin-top: 40px;
    }
}

.header .second-nav a:hover {
    color: blue;
}

.second-nav .right button {
    padding: 14px 18px;
    background-color: rgb(63, 63, 202);
    color: white;
    font-family: sans-serif;
    border-radius: 22px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    border: none;
    border: none;
    outline: none;
}

.icon {
    padding: 0 18vw;
    margin-top: 90px;
    display: flex;
    /* gap: 420px; */
    gap: 25vw;
    height: 100px;
}

@media screen and (max-width: 1400px) {
    .icon {
        padding: 0 5vw;
        margin-top: 70px;
        display: flex;
        /* gap: 420px; */
        gap: 25vw;
        height: 100px;
    }
}

.icon i {
    font-size: 50px;
    opacity: .6;
}

.icon #sec {
    position: relative;
    top: 50px;
}


/* Hero Section */
.hero {
    padding: 0 18vw;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 1400px) {
    .hero {
        padding: 0 5vw;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}

.hero .top {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 80px;


}

.hero .top .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero .top .left #para {
    opacity: .7;
    word-spacing: 8px;
}

.hero .top .left h1 {
    font-size: 45px;
}

.hero .top .left h1 #skill {
    background: linear-gradient(45deg, blue, red, rgb(221, 221, 32));
    -webkit-background-clip: text;
    color: transparent;
}

.hero .top .left h3 {
    background: linear-gradient(45deg, blue, red, yellow);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    padding: ;
}

.hero .top .right {
    background-image: url("graph\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.hero .top .left .buttons {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.hero .top .left button {
    width: 180px;
    padding: 12px 0;
    border: none;
    background-color: rgb(63, 63, 202);
    color: white;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

.hero .top .left #explore {
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

.hero .buttom button {
    padding: 12px 30px;
    border: none;
    background-color: #dadada;
    color: black;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

.hero .buttom {
    display: flex;
    justify-content: center;
}

.hero .buttom .buttons {
    display: flex;
    gap: 30px;
}

.hero .buttom .buttons #login {
    background-color: black;
    color: white;
}

@media screen and (max-width: 900px) {
    .hero .top {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hero {
        gap: 20px;
    }

    .second-nav .right #free {
        display: none;
    }

    .hero .top .right {
        display: flex;
        justify-content: center;
    }

    .main .header .second-nav .right #menue {
        display: inline-block;
        cursor: pointer;
    }

    .second-nav .left img {
        display: inline-block;
    }

    .second-nav .left a {
        display: none;
    }

    .hero .top .left h3 {
        font-size: 20px;
    }

    .hero .top .left h1 {
        font-size: 30px;
    }


}

.threebox {
    margin-top: 20px;
    display: flex;
    padding: 0 15vw;
    gap: 10px;
    justify-content: center;

}

.threebox .box {
    display: flex;
    padding: 15px 15px;
    border: .2px black;
    border-radius: 10px;
    height: 60px;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;

}

.threebox .box .common {
    display: flex;
    gap: 10px;
    align-items: center;

}

.threebox .box .common h4 {
    opacity: .7;
}

.threebox .box .common i {
    font-size: 35px;
}

.footer {
    padding: 0 18vw;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.footer i {
    font-size: 25px;
}

.footer .left {
    display: flex;
    gap: 20px;
}

.footer .left .l #location {
    color: rgb(65, 65, 206);
}

.footer .left .r #time {
    color: rgb(243, 81, 81);
}

@media screen and (max-width: 1400px) {
    .footer {
        padding: 0 5vw;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1200px) {
    .threebox .box .common {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    .threebox .box .common {
        font-size: 12px;
    }

    .footer {
        padding: 0 5vw;
        display: flex;

        font-size: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .footer .left {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .footer .right {
        display: none;
    }
}

.course .subject .boxes {
    margin-top: 80px;
    margin: 80px 18vw;
    display: flex;
    gap: 15px;
    height: 100px;
    border: 2px solid black;
    width: 250px;
    padding: 20px 30px;
}

.course .subject .boxes img {
    height: 45px;

}

.course .heading {
    display: flex;
}

.course .subject .boxes .box {
    display: flex;
    flex-direction: column;

}

.category {
    display: flex;
    height: 15vh;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 18vw;
}

.texthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.linearText {
    background: linear-gradient(45deg, blue, red, rgb(221, 221, 32));
    color: transparent;
    font-size: 25px;
}

.cources {
    display: flex;
    gap: 2em;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 18vw;
    justify-content: center;
    align-items: center;
}

.courceCard {
    display: flex;
    gap: 1em;
    flex: 1;

    background-color: whitesmoke;
    padding: 2em;
    width: clamp(100px, 50%, 300px);

    border-radius: 20px;
}

.courceIcon {
    align-self: center;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.295);
}

.courceName {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: .5em;

}

.courceCard img {
    height: 2em;
}

.viewCategory {
    padding: 12px 30px;
    border: none;
    background-color: #232fdf;
    color: black;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 900;
    color: white;
    min-height: 5vh;
    align-self: center;
}

@media screen and (max-width: 1400px) {

    .cources,
    .category {
        padding: 0 5vw;
    }
}


/*               LALIT BHATTA CSS                             */
#ourcourse h2 {
    background: linear-gradient(45deg, blue, red, rgb(221, 221, 32));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;
}

#second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#allcourses {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

#lalitcontainer {
    padding: 0 18vw;
}

#lalitcontainer #second #selection {
    margin-top: 15px;
}

#card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin-top: 4vh;
}

.kard img {
    width: 100%;
    border-radius: 5px;

}

.hell img {
    width: 90%;
    height: auto;
    border-radius: 10%;

}

.ca {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.hell {
    width: 80px;
    display: flex;
    flex-direction: row;

}

.hell div {
    border-radius: 50%;
}

#card h3 {
    padding: 0px 20px;
    margin-top: 0px;
}

@media (max-width: 1400px) {
    #lalitcontainer {
        padding: 0 5vw;
    }
}

@media (min-width: 500px) and (max-width: 950px) {
    #lalitcontainer #ourcourse h2 {
        text-align: center;
    }

    #container,
    #second {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .kard img {
        min-width: 100%;

    }
}

.kard {
    box-shadow: 2px 2px 2px gray, -2px -2px 2px gray;
    border-radius: 5px;
}

@media (max-width: 600px) {

    #lalitcontainer #second #selection {
        font-size: 15px;
    }

    #container,
    #second {
        display: flex;
        flex-direction: column;
        padding: 0 2vw;
        /* align-items: flex-start; */

    }

    /* #selection{
        margin-left: 0px;
        padding: 0px;
    } */
    #card {
        display: grid;
        grid-template-columns: 1fr;
        /* Single column layout */
    }

    .kard img {
        width: 100%;
        /* Ensure images take up full width */
        height: auto;
        /* Maintain aspect ratio */
    }

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;

}

#star {
    width: 20px;
    display: flex;
    padding: 0px 14px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#lalitcontainer {
    margin-top: 15vh;
}

.hell p {
    margin-top: 20px;
}

/*          Samundra About US section  CSSSSS         */
.gradient {
    background: linear-gradient(45deg, blue, red, rgb(221, 221, 32));
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
}

span {
    /* display: block; */
    font-size: 1em;
    font-weight: 900;
}

.aboutUs {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15vh;
    gap: 1em;
    padding: 0 18vw;
    height: 50vh;
}

.card {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5em;
    color: white;

}

.card>div {
    background-color: rgb(102, 8, 234);
    border-radius: 10px;
}

.card1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    line-height: 2.5em;
    padding: 20% 0% 0 4%;
}

.card1>button {
    background-color: rgb(246, 246, 243);
    width: 150px;
    margin: auto;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    padding: 10px 0;
}

.card3,
.card2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-left: 40%;
    padding-top: 20%;
    word-spacing: 1rem;
    font-weight: bold;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
}

.text>h2 {
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
}

@media(width<900px) {
    .aboutUs {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        padding: 0 5vw;
        height: fit-content;
    }

    .card {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 1fr;
        line-height: 2.5em;
        margin: 10% 0% 0 0%;
    }

    .card2,
    .card3 {
        word-spacing: .5rem;
    }
}

@media (max-width:1400px) {
    .aboutUs {
        padding: 0 5vw;
    }
}

@media(width>901px) and (width<1200px) {
    .aboutUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10vh;
        gap: 1em;
        padding: 0 5vh;
        max-height: 55vh;
        height: 50vh;
    }

}



/*                            Samundra  Video cSs                       */
.videoandtext {
    margin-top: 15vh;
}

video {
    object-fit: cover;
    height: 60vh;
}

.videoandtext .box {
    display: grid;
    grid-auto-flow: column;
    /* justify-content: space-around; */
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    padding: 0 18vh;

}

.data {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    gap: .5em;
   align-items: center;
    height: 250px;
    padding: 1em;
    background-color: whitesmoke;
    transform: translateY(-30%);
    border-radius: 10px;
}

.iconimage {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    position: relative;
    transform: translateY(-50%);
}

.icon1 {
    background-color: yellow
}

.icon2 {
    background-color: red;
}

.icon3 {
    background-color: green
}

.icon4 {
    background-color: blue;
}

@media (width<900px) {
    .videoandtext .box {
        display: grid;
        grid-auto-flow: column;
        /* justify-content: space-around; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
        padding: 0 6vh;

    }

}

@media(width<320px) {
    .videoandtext .box {
        padding: 0;
    }
}


/* Instructor COde */
.instructor {
    margin-top: 60px;
    width: 100%;
}

.instructor-section {
    display: flex;
    padding: 50px 18vw;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(190, 190, 223);
}

.instructor-section img {
    height: 500px;
}

.instructor-section .buttom p {
    font-size: 1vw;
}

.instructor-section .right .top {
    margin-top: 18px;
}

.instructor-section .buttom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructor-section .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructor-section .right button {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(63, 63, 202);
    color: white;

}

@media (max-width: 1500px) {
    .instructor-section {
        padding: 0 5vw;
    }

    .instructor-section .buttom p {
        font-size: 1.4vw;
    }
}

@media (max-width: 1000px) {
    .instructor-section img {
        height: 300px;
    }

    .instructor-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 15vw;
        gap: 0px;
    }

    .instructor-section .buttom p {
        font-size: 15px;
    }

    .instructor-section .right button {
        margin: auto;
        margin: 20px auto;
    }
}


/* Paymenet Gateway */
.subscription {
    width: 100%;
    /* height: 100vh; */
}

.subscription-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 0 18vw;
}

.subscription-box .top {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* height: 200px; */
}

.subscription-box .top .left h1 {
    margin-top: 20px;
}

.subscription-box .top .right img {
    height: 80px;
}

.subscription-box .mid h1 {
    margin: auto;
}

.subscription-box .mid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.subscription-box .mid .tow {
    display: flex;
    gap: 15px;
    margin: auto;
}

.subscription-box .mid p {
    font-size: 18px;
}

.subscription-box .mid .tow button {
    padding: 14px 18px;
    background-color: rgb(63, 63, 202);
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    
}

.subscription-box .mid .tow #anually {
    background-color: rgb(8, 199, 8);
}

.subscription-box .buttom {
    display: flex;
    gap: 90px;
    margin: auto;
    cursor: pointer;
}

.subscription-box .buttom .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 450px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.subscription-box .buttom .box .free {
    color: rgb(36, 108, 185);
    font-size: 20px;
}

.subscription-box .buttom .box:hover {
    transform: scale(1.05);
    /* Scaling up the box by 5% on hover */
}

.subscription-box .buttom p {
    font-size: 18px;
}

.subscription-box .buttom .child-box {
    line-height: 30px;

}

.subscription-box .buttom .box button {
    padding: 14px 18px;
    background-color: rgb(8, 199, 8);
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
}




@media (max-width: 1400px) {
    .subscription-box {
        padding: 0 5vw;
    }
}

@media (max-width: 1110px) {
    .subscription-box .top .left h1 {
        font-size: 22px;
    }

    .subscription-box .buttom {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: auto;
        cursor: pointer;
    }

    .subscription-box .buttom .box {
        width: 300px;
    }

    .subscription-box {
        gap: 50px;
    }

    .subscription-box .top .right img {
        height: 60px;
    }
}

@media (max-width: 800px) {
    .subscription-box .top .left h1 {
        font-size: 18px;
    }

    .subscription-box .top .right img {
        height: 60px;
    }
}


/* Footer by Samundra */
.foot {
    margin-top: 50px;
    display: grid;
    height: 70vh;
    background-color: rgb(16, 4, 49);
    color: whitesmoke;
    place-items: center;

}

.foot img {
    height:60px;
/* background-color:  rgb(255, 254, 254);  */
mix-blend-mode: hard-light;
/* border-radius: 35% 35% 5% 5%; */
   object-fit: contain;
} 

.foot a {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

.foot a:hover {
    font-weight: bolder;
    color: rgb(171, 215, 39);
}

.foot ul {
    list-style-type: none;
}

.quickInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    /* padding: 1em; */
    padding: 0 18vh;
}

#insocour {
    display: flex;
    margin-bottom: 2em;
}

#insocour h3 {
    align-self: center;
    padding: .5em;
}

.foot .box h3 {
    margin-bottom: 2em;
}

.foot .box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foot .box li {
    padding-bottom: 1em;
}

.foot .box button {
    padding: 1em;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px 20px;
    outline: none;
    width: 50%;
}

.foot .box button:hover {
    transform: scale(1.02);
    font-weight: bold;
}

.addr {
    display: flex;
    margin-bottom: 2em;
}

.addr>p {
    align-self: center;
}

.tele {
    display: flex;
    margin-bottom: 2em;
}

.tele>p {
    align-self: center;
}

.mail {
    display: flex;
    margin-bottom: 2em;
}

.mail>p {
    align-self: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-self: end;
    border-top: 1px solid green;
    width: 100%;
    padding: 1em;
}

.right i {
    cursor: pointer;
}

@media(width<900px) {
    .foot {
        height: 100%;
        place-items: center;
        padding-top: 2em;

    }

    .quickInfo {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 0 8vh;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }
}

@media(width<600px) {
    .foot {
        height: 100%;
        padding: 0;

    }

    .quickInfo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;

    }

    .quickInfo .box {
        margin-bottom: 1em;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
}