*{
    margin: 0;padding: 0;box-sizing: border-box;
}
video{
    object-fit: cover;
    height: 60vh;
}
.box{
    display: grid;
    grid-auto-flow: column;
    /* justify-content: space-around; */
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    padding: 0 18vh;
    
}
.data{
    display: flex;
    flex-direction: column;
    
    position: relative;
    gap: .5em;
    text-align: center;
    height: 250px;
    padding: 1em;
    background-color: whitesmoke;
    transform: translateY(-30%);
    border-radius: 10px;
}

.iconimage{
    border-radius: 50%;
     height: 70px;
    width: 70px;  
    display: grid;
    place-items: center;
   position: relative;
   transform: translate(50%,-70%);
}
.icon1{
    background-color: yellow
}
.icon2{
    background-color: red;
}
.icon3{
    background-color: green
}
.icon4{
    background-color: blue;
}
@media (width<900px){
    .box{
        display: grid;
        grid-auto-flow: column;
        /* justify-content: space-around; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5%;
        padding: 0 6vh;
        
    }

}
@media(width<320px){
    .box{
        padding: 0;
    }
}
